
.textBlock {
    color: white;
    font-family: "Cabin", sans-serif;
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: justify;
}

.textBlock p {
margin-bottom: 0;
}

.sectionDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.codingImage {
background-image: url('../images/codinglanguages.jpg');
background-size: cover;
width: 10em;
height:8em;
flex-shrink: 0;
/* float: right; */
margin-left: 2em;
border-radius: 20px;
}

.personalImage {
background-image: url('../images/me\ halo\ new.jpg');
background-size: cover;
background-position: center;
width: 10em;
height: 8em;
/* float: left; */
flex-shrink: 0;
margin-right: 2em;
border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .textBlock p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 640px) {
    .sectionDiv{
        flex-direction: column;
    }

    .codingImage {
        margin: 0;
        margin-top: 1rem;
    }

    .personalImage {
        margin: 0;
        margin-bottom: 1rem;
    }

    .textBlock p {
        font-size: 1rem;
    }
}