.image {
  background-image: url('../images/leone-venter-VieM9BdZKFo-unsplash.jpg');
  width: 80%;
  height: 80vh;
  margin: 5vh auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  position: absolute;
  top: 25%;
  left: 16%;
  font-family: "Cabin", sans-serif;
  width: 60%;
  
}