@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html,
.body {
  padding: 0;
  padding-bottom: 2em;
  margin: 0;
  font-family: "Cabin", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(27, 27, 27);
    background-image: url("../images/andrew-kliatskyi-B_Z9jqassqE-unsplash.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
