.headerImage {
  background-color: whitesmoke;
background-image: url('../images/leone-venter-VieM9BdZKFo-unsplash-cropped.jpg');
  width: 80%;
  height: 40vh;
  margin: 5vh auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.headerImage h1 {
font-size: 12vh;
  position: absolute;
  top: 25%;
  left: 16%;
  font-family: "Cabin", sans-serif;
   line-height: 1;
           background-image: url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif) ;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-stroke: 1px black; */
}

