.textBlock {
  color: white;
  font-family: "Cabin", sans-serif;
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
  text-align: justify;
}

.previewBlock {
  display: grid;
  grid-template-columns: 400px 1fr;
  text-align: right;
}

.flexDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.description {
  grid-column: 2;
 margin-left: 1em;

 }

.image {
  display: block;
  width: 30%;
  margin: 1em auto;
  border-radius: 20px;
   grid-column: 1;
}

.expandButton {
  font-size: 1.5rem;
  height: 6vh;
  margin: 0.1em 0;
  background-color: rgb(193, 255, 234);
   grid-column: 2;
}

.expandButton:hover {
  color: white;
  background: teal;
  border-color: rgb(193, 255, 234);
}

.expandButton:focus {
  color: white;
  background: teal;
  border-color: rgb(193, 255, 234);
}

.linkButtonDiv {
  display: flex;
  justify-content: center;
}

.linkButton {
  font-size: 1.5rem;
  height: 6vh;
  margin: 1em;
  background-color: rgb(193, 255, 234);
 }

.linkButton:hover {
  color: white;
  background: teal;
  border-color: rgb(193, 255, 234);
}

.linkButton:focus {
  color: white;
  background: teal;
  border-color: rgb(193, 255, 234);
}

.doc  {
  font-size: 0.8em;
  text-align: justify;
}

.date {
  text-align: right;
}
