.card {
  color: white;
  background: teal;
  border-color: rgb(193, 255, 234);
  border-radius: 3vh;
  margin: 1em 0;
}

.card h2 {
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 1.2em;
  text-align: center;
}


@media screen and (max-width: 700px) {
  .card h2 {
    font-size: 1.3rem;
  }
}