.card {
    /* width: 15%; */
   /* display: inline-block; */
   /* float: left; */
      color: white;
  background: teal;
  border-color: rgb(193, 255, 234);
 border-radius: 3vh;
}

.card h2 {
     color: white;
 font-family: "Cabin", sans-serif;
  font-size: 4vh;
  text-align: center;
}